force-app/main/default/flows/CaseMassChangeOwner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>264</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>RecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!IterateOverIds},</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverIds</targetReference>
        </connector>
    </assignments>
    <interviewLabel>CaseMassChangeOwner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CaseMassChangeOwner</label>
    <loops>
        <name>IterateOverIds</name>
        <label>IterateOverIds</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetRecordIdsFromListiew</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Fin_du_flow</name>
        <label>Fin du flow</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>userOrQueueHeader</name>
            <extensionName>c:userOrQueueOwnerHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Redirection</name>
            <fieldText>&lt;p&gt;{!currentFirstNameOwner}, {!endMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!currentFirstNameOwner}, &lt;/span&gt;now, you can quit this screen by clicking the Quit button and continue your work.&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;At the end of your request, you will receive notifications you can view by clicking on the notification icon&lt;/span&gt;&lt;img src=&quot;https://wonderbox--c.documentforce.com/sfc/servlet.shepherd/version/download/0686700000UeSjm?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;SalesforceNotifications.png&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isSubmit</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Cancel</name>
            <fieldText>&lt;p&gt;{!currentFirstNameOwner}, {!endMessage}.&lt;/p&gt;&lt;p&gt;If you want to confirm your choice, click on the Quit button. Otherwise, click on the Back button&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isSubmit</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>userOrQueueNav</name>
            <extensionName>c:userOrQueueOwnerNav</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isSubmit</name>
                <value>
                    <elementReference>isSubmit</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>GetRecordIdsFromListiew</name>
        <label>Get record Ids From Listiew</label>
        <locationX>176</locationX>
        <locationY>494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Fin_du_flow</targetReference>
        </connector>
        <fields>
            <name>CallMassaseChangeOwner</name>
            <extensionName>c:caseMassChangeOwner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ids</name>
                <value>
                    <elementReference>RecordIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>objectApiName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>url</name>
                <value>
                    <elementReference>url</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>endMessage</name>
                <value>
                    <elementReference>endMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentFirstNameOwner</name>
                <value>
                    <elementReference>currentFirstNameOwner</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentLastNameOwner</name>
                <value>
                    <elementReference>currentLastNameOwner</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmit</name>
                <value>
                    <elementReference>isSubmit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentOwnerId</name>
                <value>
                    <elementReference>currentOwnerId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>endMessage</assignToReference>
                <name>endMessage</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>url</assignToReference>
                <name>url</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isSubmit</assignToReference>
                <name>isSubmit</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IterateOverIds</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentFirstNameOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentLastNameOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>endMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isSubmit</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>objectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>url</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>500/o</stringValue>
        </value>
    </variables>
</Flow>
